{% extends "base_generic_no_sidebar.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="d-flex flex-column align-content-center" id="formContent">

                <div class="d-flex align-content-center align-items-center m-auto">
                    <div><img src="https://i.imgur.com/2NYJGv0.png" width="60px" height="60px"></div>
                    <div><h1>{% trans "Sign Up" %}</h1></div>
                </div>

                <p style="margin-top: 10px;">Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>
                    .</p>

                <p>Registrations are closed for now :(</p>
        </div>
    </div>



{% endblock %}



