[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.9.1"
django-crispy-forms = "*"
django-star-ratings = "*"
IMDbPY = "*"
django-markdown2 = "*"
django-comments-dab = "*"
django-widget-tweaks = "*"
django-allauth = "*"
django-elasticsearch-dsl = "==6.4.2"
gunicorn= "==19.9.0"

[dev-packages]

[requires]
python_version = "3.7"
